.dugmici-meni{
    font-size: 25px;
    width: 22%;
    height: 100px;
    margin-left: 41%;
}

.meni-items{   
    margin-top: 2%;
}

#novi-vozac-meni{
    margin-top: 1%;
}

#naslov-meni{
    font-size: 50px;
    margin-top: 8%;
    margin-left: 48.5%;
}