.dugmici-meni{
    font-size: 25px;
    width: 22%;
    height: 100px;
    margin-left: 41%;
}

.meni-items{   
    margin-top: 2%;
}

#novi-vozac-meni{
    margin-top: 1%;
}

#naslov-meni{
    font-size: 50px;
    margin-top: 8%;
    margin-left: 48.5%;
}

.forma-add-vozac{
    width: 40%;
    margin-top: 2%;
    margin-left: 5%;
}

#novi-vozac-naslov{
    margin-top: 5%;
    margin-left: 11%;
    font-size: 35px;
}

#button-novi-vozac{
    margin-top: 2%;
    margin-left: 33%;
    font-size: 20px;
    width: 30%;
}